
                                                    <h2>2024</h2>
            <ul>
                <li>[Mitarchuk et al. 2024]             V. Mitarchuk,                 C. Lacroce,                             <u>R. Eyraud</u>,
                                    <u>R. Emonet</u>,
                                    <u>A. Habrard</u>,
                        G. Rabusseau,     
<em><a href="https://hal.science/hal-04488664" target="_blank">Length Independent PAC-Bayes Bounds for Simple RNNs</a></em>, AISTATS 2024 - 27th International Conference on Artificial Intelligence and Statistics, Valence, Spain (2024)
     - <strong>
            CORE Ranking : A
    </strong>
</li>
                            <li>[Viallard et al. 2024]                         <u>P. Viallard</u>,
                                    <u>R. Emonet</u>,
                                    <u>A. Habrard</u>,
                                    <u>E. Morvant</u>,
                                    <u>V. Zantedeschi</u>,
            
<em><a href="https://hal.science/hal-04473777" target="_blank">Leveraging PAC-Bayes Theory and Gibbs Distributions for Generalization Bounds with Complexity Measures</a></em>, AISTATS 2024 - 27th International Conference on Artificial Intelligence and Statistics, Valencia, Spain (2024)
     - <strong>
            CORE Ranking : A
    </strong>
</li>
                            <li>[Bilko et al. 2024]             K. Bilko,                 R. Alía,                 A. Constantino,                 A. Coronetti,                 S. Danzeca,                 M. Delrieux,                 N. Emriskova,                 M. Fraser,                             <u>S. Girard</u>,
                        E. Johnson,                             <u>M. Sebban</u>,
                        F. Ravotti,                 A. Waets,     
<em><a href="https://hal.science/hal-04421732" target="_blank">CHARM High-energy Ions for Micro Electronics Reliability Assurance (CHIMERA)</a></em>, IEEE Transactions on Nuclear Science, pp. 1-1 (2024)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                            <li>[Biłko et al. 2024]             K. Biłko,                 R. Alía,                 M. Barbero,                             <u>S. Girard</u>,
                        Y. Aguiar,                 M. Cecchetto,                 C. Belanger-Champagne,                 S. Danzeca,                 W. Hajdas,                 A. Hands,                 P. Holgado,                 Y. Garcia,                 A. Maestre,                 D. Prelipcean,                 F. Ravotti,                             <u>M. Sebban</u>,
            
<em><a href="https://hal.science/hal-04378518" target="_blank">Mixed-field Radiation Monitoring and Beam Characterisation Through Silicon Diode Detectors</a></em>, IEEE Transactions on Nuclear Science, pp. 1-1 (2024)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                                                            </ul>
                        <h2>2023</h2>
            <ul>
                <li>[Leteno et al. 2023]             T. Leteno,                             <u>A. Gourru</u>,
                                    <u>C. Laclau</u>,
                                    <u>R. Emonet</u>,
                                    <u>C. Gravier</u>,
            
<em><a href="https://hal.science/hal-04390768" target="_blank">Fair Text Classification with Wasserstein Independence</a></em>, 2023 Conference on Empirical Methods in Natural Language Processing, pp. 15790-15803, Singapore, Singapore (2023)
     - <strong>
            CORE Ranking : A*
    </strong>
</li>
                            <li>[Biłko et al. 2023a]             K. Biłko,                 R. Alía,                             <u>S. Girard</u>,
                        M. Barbero,                 M. Cecchetto,                 C. Belanger-Champagne,                 M. Brucoli,                 S. Danzeca,                 A. Hands,                 P. Holgado,                 Y. Garcia,                 A. Maestre,                             <u>M. Sebban</u>,
                        M. Widorski,     
<em><a href="https://hal.science/hal-04378515" target="_blank">Ultra-large Silicon Diode for Characterising Low-intensity Radiation Environments</a></em>, IEEE Transactions on Nuclear Science, pp. 1-1 (2023)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                            <li>[Biłko et al. 2023b]             K. Biłko,                 R. Alía,                 Y. Aguiar,                 S. Danzeca,                 D. Francesca,                 S. Gilardoni,                             <u>S. Girard</u>,
                        D. Ricci,                             <u>M. Sebban</u>,
                        S. Uznanski,     
<em><a href="https://hal.science/hal-04264101" target="_blank">Radiation environment in the Large Hadron Collider during the 2022 restart and related RHA implications</a></em>, IEEE Transactions on Nuclear Science, pp. 1-1 (2023)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                            <li>[Brandao et al. 2023b]             E. Brandao,                 S. Duffner,                             <u>R. Emonet</u>,
                                    <u>A. Habrard</u>,
                                    <u>F. Jacquenet</u>,
                                    <u>M. Sebban</u>,
            
<em><a href="https://hal.science/hal-04231405" target="_blank">Is My Neural Net Driven by the MDL Principle?</a></em>, European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases, pp. 173-189, Turin, France (2023)
     - <strong>
            CORE Ranking : A
    </strong>
</li>
                            <li>[Eyraud et al. 2023b]                         <u>R. Eyraud</u>,
                        D. Lambert,                 B. Tahri,                 A. Gaffarov,                 M. Cabanne,                 J. Heinz,                 C. Shibata,     
<em><a href="https://hal.science/hal-04237436" target="_blank">TAYSIR Competition: Transformer+rnn: Algorithms to Yield Simple and Interpretable Representations</a></em>, International Conference on Grammatical Inference, pp. 275-290, Rabat, Morocco (2023)
</li>
                            <li>[Bouniot et al. 2023]             Q. Bouniot,                 R. Audigier,                 A. Loesch,                             <u>A. Habrard</u>,
            
<em><a href="https://cea.hal.science/cea-04041965" target="_blank">Proposal-contrastive pretraining for object detection from fewer data</a></em>, ICLR 2023 - The Eleventh International Conference on Learning Representations, pp. https://openreview.net/forum?id=gm0VZ-h-hPy, Kigali, Rwanda (2023)
     - <strong>
            CORE Ranking : A*
    </strong>
</li>
                            <li>[Brandao et al. 2023a]             E. Brandao,                             <u>A. Nakhoul</u>,
                        S. Duffner,                 R. Emonet,                             <u>F. Garrelie</u>,
                                    <u>A. Habrard</u>,
                                    <u>F. Jacquenet</u>,
                                    <u>F. Pigeon</u>,
                                    <u>M. Sebban</u>,
                                                            <u>J. P. Colombier</u>,
            
<em><a href="https://ujm.hal.science/ujm-04157829" target="_blank">Learning Complexity to Guide Light-Induced Self-Organized Nanopatterns</a></em>, Physical Review Letters, vol. 130(), pp. 226201 (2023)
     - <strong>
            IF : 8.6 (Q1)
    </strong>
</li>
                            <li>[Baksheeva et al. 2023]             V. Baksheeva,                 V. Tiuli,                 E. Iomdi,                 S. Petr,                 O. Filippova,                 N. Kushnarevich,                 E. Suleiman,                             <u>R. Eyraud</u>,
                        F. Devred,                 M. Serebryakova,                 N. Shebardina,                 D. Chistyakov,                 I. Senin,                 V. Mitkevich,                 P. Tsvetkov,                 E. Zernii,     
<em><a href="https://hal-amu.archives-ouvertes.fr/hal-04066064" target="_blank">Tear nanoDSF Denaturation Profile Is Predictive of Glaucoma</a></em>, International Journal of Molecular Sciences, vol. 24(7132), (2023)
     - <strong>
            IF : 5.6 (Q1)
    </strong>
</li>
                            <li>[Biłko et al. 2023c]             K. Biłko,                 R. Alía,                 D. Francesca,                 Y. Aguiar,                 S. Danzeca,                 S. Gilardoni,                             <u>S. Girard</u>,
                        L. Esposito,                 M. Fraser,                 G. Mazzola,                 D. Ricci,                             <u>M. Sebban</u>,
                        F. Velotti,     
<em><a href="https://hal.science/hal-04253175" target="_blank">CERN Super Proton Synchrotron Radiation Environment and Related Radiation Hardness Assurance Implications</a></em>, IEEE Transactions on Nuclear Science, vol. 70(8), pp. 1606-1615 (2023)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                            <li>[Rußwurm et al. 2023]             M. Rußwurm,                 N. Courty,                             <u>R. Emonet</u>,
                        S. Lefèvre,                 D. Tuia,                 R. Tavenard,     
<em><a href="https://hal.science/hal-04023073" target="_blank">End-to-end learned early classification of time series for in-season crop type mapping</a></em>, ISPRS Journal of Photogrammetry and Remote Sensing, vol. 196(), pp. 445-456 (2023)
     - <strong>
            IF : 12.7 (Q1)
    </strong>
</li>
                            <li>[Biłko et al. 2023d]             K. Biłko,                 R. Alía,                             <u>S. Girard</u>,
                        M. Barbero,                 M. Cecchetto,                 C. Belanger-Champagne,                 M. Brucoli,                 S. Danzeca,                 A. Hands,                 P. Holgado,                 Y. Garcia,                 A. Maestre,                             <u>M. Sebban</u>,
                        M. Widorski,     
<em><a href="https://hal.science/hal-04324049" target="_blank">Ultra-large Silicon Diode for Characterising Low-intensity Radiation Environments</a></em>, IEEE Transactions on Nuclear Science, pp. 1-1 (2023)
     - <strong>
            IF : 1.8 (Q2)
    </strong>
</li>
                            <li>[Eyraud et al. 2023a]                         <u>R. Eyraud</u>,
                        S. Ayache,                 P. Tsvetkov,                 S. Kalidindi,                 V. Baksheeva,                 S. Boissonneau,                 C. Jiguet-Jiglaire,                 R. Appay,                 I. Nanni-Metellus,                 O. Chinot,                 F. Devred,                 E. Tabouret,     
<em><a href="https://amu.hal.science/hal-03957563" target="_blank">Plasma nanoDSF Denaturation Profile at Baseline Is Predictive of Glioblastoma EGFR Status</a></em>, Cancers, (2023)
     - <strong>
            IF : 5.2 (Q2)
    </strong>
</li>
                            <li>[Viallard et al. 2023]                         <u>P. Viallard</u>,
                        P. Germain,                             <u>A. Habrard</u>,
                                    <u>E. Morvant</u>,
            
<em><a href="https://hal.science/hal-03143025v3" target="_blank">A General Framework for the Practical Disintegration of PAC-Bayesian Bounds</a></em>, Machine Learning, (2023)
     - <strong>
            IF : 7.5 (Q1)
    </strong>
</li>
                    </ul>
                
