
.peoplebox {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    text-align: center;

    .person {
        display: block;
        width: 23%; /* 23% for 4 18% for 5 */

        &:nth-of-type(3n+1) {
            margin-left: 10%;
        }
        &:nth-of-type(3n) {
            margin-right: 10%;
        }

        > .face {
            box-sizing: border-box;
            border: 1px solid black;
            box-shadow: grey 1px 1px 5px;
            display: block;
            background-image: var(--face);
            background-size: cover;
            width: 100%;
            height: 0;
            padding-bottom: 125%;
            margin-bottom: 0.5em;
        }
        margin-bottom: 1.5em;

        .title {
            display: block
        }
        .title:not(:first-child) {
            font-size: 80%;
        }
        span:not(.title) {
            color: inherit;
        }
        span.lastname {
            font-variant-caps: small-caps;
        }
    }
}
